.checkbox {
  position: relative;
  display: block;
}

.checkbox__input {
  position: absolute;
  margin: 0;
  width: 37px;
  height: 37px;
  z-index: 1;
  opacity: 0;
}

.checkbox__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  border: $border-form;
  border-radius: $border-form-radius;
  background-color: $color-white;
}

.checkbox__input[type="checkbox"]:checked ~ .checkbox__text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 37px;
  height: 37px;
  background-image: url("../img/form/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__text {
  display: block;
  padding-left: 60px;
  line-height: 35px;
}

.checkbox:hover .checkbox__text::before {
  border-color: $color-primary;
}

.checkbox:focus-visible + .checkbox__text::before {
  border-color: $color-accent;
}

.checkbox:active .checkbox__text::before {
  border-color: $color-accent;
}

.checkbox__input[type="checkbox"]:focus-visible .checkbox__text::before {
  border-color: $color-accent;
}
