.contest-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $tablet-width) {
    row-gap: 50px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 70px;
  }
}

.contest-form__group {
  @media (max-width: $mobile-width-only) {
    padding-top: 42px;
    padding-bottom: 44px;
  }
}

.contest-form__group:nth-child(2) {
  @media (max-width: $mobile-width-only) {
    order: 2;
  }
}

.contest-form__group:nth-child(3) {
  @media (max-width: $mobile-width-only) {
    order: 1;
  }
}

.contest-form__group:nth-child(4) {
  @media (max-width: $mobile-width-only) {
    order: 0;
  }
}

.contest-form__group:nth-child(5) {
  @media (max-width: $mobile-width-only) {
    order: 3;
  }
}

.contest-form__group:nth-child(6) {
  @media (max-width: $mobile-width-only) {
    order: 4;
  }
}

.contest-form__group-container {
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.contest-form__button-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
