/* .contest-form {
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 620px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 940px;
  }
}
*/
