.container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.container--desktop {
  @media (min-width: $desktop-width) {
    width: 431px;
    margin: 0;
  }
}
