.download-app {
  padding-top: 66px;
  background-color: $color-primary-dark;
  background-image:
    url("../img/download-app/phone-mobile.png"),
    url("../img/download-app/back-tablet.jpg");
  background-repeat: no-repeat;
  background-size: 320px 286px, auto 462px;
  background-position: center 40%, center 0;

  @media (min-resolution: 2dppx) {
    background-image:
      url("../img/download-app/phone-mobile@2x.png"),
      url("../img/download-app/back-tablet@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 110px;
    background-image:
      url("../img/download-app/phone-tablet.png"),
      url("../img/download-app/back-desktop.jpg");
    background-size: 660px, cover;
    background-position: center 100%, 50% 50%;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/download-app/phone-tablet@2x.png"),
        url("../img/download-app/back-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../img/download-app/phone-desktop.png"),
      url("../img/download-app/back-desktop.jpg");
    background-size: auto, cover;
    background-position: calc(50% + 70px) 100%, center center;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/download-app/phone-desktop@2x.png"),
        url("../img/download-app/back-desktop@2x.jpg");
      background-size: 1045px, cover;
    }
  }
}

.download-app__container {
  padding-top: 25px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
    padding-bottom: 115px;
    grid-template-columns: 300px 320px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 122px;
    grid-template-columns: 300px 640px;
  }
}

.download-app__slogan {
  margin: 0 0 340px 0;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $color-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 35px 0;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    font-size: 50px;
    line-height: 68px;
  }
}

.download-app__slogan br {
  display: none;

  @media (min-width: $tablet-width) {
    display: initial;
  }
}

.download-app__description {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $color-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.download-app__list {
  max-width: 204px;
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 23px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-top: 42px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 50px;
  }
}

.download-app__item {
  margin-right: 25px;
}

.download-app__item:first-child {
  padding-left: 40px;
}

.download-app__item:last-child {
  margin-right: 0;
}

.download-app__link {
  display: block;
  width: 56px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
}


.download-app__link--android {
  padding-top: 5px;
}

.download-app__link--windows {
  padding-top: 10px;
}

.download-app__button {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}
