.download-app {
  background-color: #1d2631;
}

.download-app__container {
  padding-top: 29px;
  padding-bottom: 38px;
  display: grid;
  grid-template-columns: 280px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-top: 103px;
    padding-bottom: 119px;
    grid-template-columns: 300px 320px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
    padding-bottom: 130px;
    grid-template-columns: 300px 640px;
  }
}

.download-app__slogan {
  margin: 0 0 34px 0;

  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $color-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.download-app__description {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $color-white;
  text-align: center;
}

.download-app__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 28px;
  padding: 0;
  list-style-type: none;
}

.download-app__item {
  margin-right: 35px;
}

.download-app__item:last-child {
  margin-right: 0;
}

.download-app__link {
  display: block;
  width: 56px;
  height: 56px;
  background-color: #1d2631;
  background-position: center;
  background-repeat: no-repeat;
}

.download-app__link--apple {
  background-image: url("../img/platforms/apple-logo.svg");
}

.download-app__link--android {
  background-image: url("../img/platforms/android-logo.svg");
}

.download-app__link--windows {
  background-image: url("../img/platforms/windows-logo.svg");
}
