.editing-controls-list__item {
  margin-right: 35px;
}

.editing-controls-list__item:last-child {
  margin-right: 0;
}

.editing-controls-list__button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.editing-controls-list__button--active {
  color: $color-accent;
}

.editing-controls-list__button--fill,
.editing-controls-list__button--contrast {
  color: $color-primary;
  opacity: 0.3;
}

.editing-controls-list__button:hover {
  opacity: 0.5;
}
