.editing-tools {
  padding: 0 0 34px 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.editing-tools__item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba($color-primary, 0.1);
  }
}

.editing-tools__item:first-child {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}


.editing-tools__button {
  display: block;
  width: 48px;
  height: 48px;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-right: 32px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
    margin-right: 54px;
  }
}

.editing-tools__button--crop {
  background-image: url("../img/catalog/crop-mobile.svg");

  @media (min-width: $tablet-width) {
    background-image: url("../img/catalog/crop-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog/crop-desktop.svg");
  }
}

.editing-tools__button--fill {
  background-image: url("../img/catalog/fill-mobile.svg");

  @media (min-width: $tablet-width) {
    background-image: url("../img/catalog/fill-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog/fill-desktop.svg");
  }
}

.editing-tools__button--contrast {
  background-image: url("../img/catalog/contrast-mobile.svg");

  @media (min-width: $tablet-width) {
    background-image: url("../img/catalog/contrast-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog/contrast-desktop.svg");
  }
}
