.editing-tools {
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.editing-tools__item {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 21px;
    padding-left: 55px;
    border-bottom: 1px solid rgba($color-primary, 0.1);
  }

  @media (min-width: $desktop-width) {
    padding-left: 92px;
  }
}

.editing-tools__item:first-child {
  @media (min-width: $tablet-width) {
    padding-top: 11px;
  }
}

.editing-tools__item--active {
  text-align: center;
}

.editing-tools__item--not-active {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.editing-tools__item::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    left: 5px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
    left: 0;
  }
}

.editing-tools__item--crop::before {
  background-image: url("../img/catalog/crop-tablet.svg");

  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog/crop-desktop.svg");
  }
}

.editing-tools__item--fill::before {
  background-image: url("../img/catalog/fill-tablet.svg");

  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog/fill-desktop.svg");
  }
}

.editing-tools__item--contrast::before {
  background-image: url("../img/catalog/contrast-tablet.svg");

  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog/contrast-desktop.svg");
  }
}
