.feedback {
  position: relative;
  padding: 40px 0 30px 0;

  @media (min-width: $tablet-width) {
    padding: 70px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 190px;
    padding-bottom: 35px;
  }
}

.feedback::before {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 79px;
    height: 62px;
    background-image: url("../img/feedback/quotes.svg");
    background-repeat: no-repeat;
    top: 76px;
    left: 46%;
  }
}

.feedback__pagination {
  padding-top: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }
}
