.feedback-item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.feedback-item__author {
  margin: 0 0 13px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 1;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.feedback-item__author-info {
  @media (max-width: 659px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 1;

    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $color-primary;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.feedback-item__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $color-primary;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    order: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $color-primary;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 30px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.feedback-item__control {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    width: 22px;
    height: 41px;
    left: 0;
    top: 15%;
    border: 0;
    background-color: transparent;
    background-image: url("../img/feedback/slider-control.svg");
    background-position: center;
    cursor: pointer;
  }
}

.feedback-item__control--next {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}
