.footer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 36px 0;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.footer__logo {
  background-color: $color-white;
}

.footer__logo:hover svg {
  fill: $color-accent;
}

.footer__logo:active {
  opacity: 0.3;
}
