.form-contacts {
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding: 33px 60px 10px;
    border: $border-form;
    border-radius: $border-form-radius;
  }

  @media (min-width: $desktop-width) {
    padding-top: 25px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 74px;
  }
}

.form-contacts__title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0 auto;
    padding: 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: $color-accent;
    text-transform: uppercase;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form-contacts__field {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.form-contacts__field--phone {
  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form-contacts__label {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 15px 20px 20px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px;
  }
}

.form-contacts__label::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -60px;
    right: -20px;
    background-color: $color-gray-100;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    top: -60px;
  }
}

.form-contacts__label--tel::before {
  @media (min-width: $tablet-width) {
    background-image: url("../img/form/phone-icon.svg");
  }
}

.form-contacts__label--email::before {
  @media (min-width: $tablet-width) {
    background-image: url("../img/form/mail-icon.svg");
  }
}
