.logo {
  background-color: rgba($color-black, 0.3);

  display: block;
  color: $color-white;

  @media (max-width: $mobile-width-only) {
    .logo__tablet {
      display: none;
    }

    .logo__desktop {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    .logo__mobile {
      display: none;
    }

    .logo__desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .logo__desktop {
      display: block;
    }

    .logo__molile {
      display: none;
    }

    .logo__tablet {
      display: none;
    }
  }
}

.logo:hover {
  color: $color-accent;
}

.logo:active {
  opacity: 0.3;
}
