.photo-card__img {
  display: block;
}

.photo-card__description {
  padding: 25px 17px;
}

.photo-card__heading {
  display: flex;
  align-items: center;
}

.photo-card__user {
  margin: 0 3px 0 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $color-primary;
}

.photo-card__date {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $color-primary;
  text-transform: uppercase;
}

.photo-card__text {
  margin: 14px 0 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-primary;
}

.photo-card__like {
  margin-top: 27px;
}

.photo-card__img-container {
  width: auto;
  display: flex;
  justify-content: center;
}

.photo-card__img--special {
  display: block;
  width: 100%;
  max-width: 320px;
  height: 137px;

  @media (min-width: $tablet-width) {
    height: 506px;
    max-width: 1200px;
  }
}

.photo-card__description--special {
  background-color: $color-gray;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}
