.photo-card {
  display: flex;
  flex-direction: column;
}

.photo-card__img {
  display: block;
}

.photo-card__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 17px;

  @media (min-width: $tablet-width) {
    min-height: 155px;
    padding: 25px;
  }
}

.photo-card__heading {
  display: flex;
  align-items: center;
}

.photo-card__user {
  margin: 0 3px 0 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $color-primary;
}

.photo-card__date {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: $color-primary;
  text-transform: uppercase;
}

.photo-card__text {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $color-primary;
}

.photo-card__like {
  margin-top: 10px;
}

.photo-card__img-container {
  width: auto;
  display: flex;
  justify-content: center;
}

.photo-card__img--special {
  display: block;
  width: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    max-width: 1200px;
  }
}

.photo-card__description--special {
  background-color: $color-gray;
  width: 280px;
  margin: 0 auto;
  padding: 20px 13px;

  @media (min-width: $tablet-width) {
    width: 620px;
    display: grid;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.photo-card__description--special .photo-card__heading {
  @media (min-width: $tablet-width) {
    grid-row-start: 1;
  }
}

.photo-card__description--special .photo-card__like {
  @media (min-width: $tablet-width) {
    grid-row-start: 1;
    margin-top: 0;
  }
}
