.price-table__category {
  min-width: 280px;
  height: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  border-left: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
  color: $color-white;
  background-color: $color-primary;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    height: 77px;
    min-width: 152px;
  }

  @media (min-width: $desktop-width) {
    height: 98px;
    min-width: 236px;

    font-size: 18px;
  }
}

.price-table__category:nth-child(2) {
  border-left: 1px solid $color-primary;
  border-top-left-radius: 3px;
}

.price-table__category:last-child {
  border-left: 1px solid $color-primary;
  border-top-right-radius: 3px;
}

.price-table__category--none {
  background-color: transparent;
  border: 0;

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.price-table__category--special {
  position: relative;
  overflow: hidden;
}

.price-table__category--special::before {
  content: "ХИТ";
  position: absolute;
  width: 110px;
  height: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  background-color: $color-accent;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
  left: -26px;
  top: 15px;

  @media (min-width: $tablet-width) {
    width: 80px;
    left: -20px;
    top: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 120px;
    left: -30px;
    top: 12px;
  }
}

.price-table__cost {
  padding: 0;
  margin: 0 0 15px 0;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-bottom: 6px;
  }
}

.price-table__row--first {
  border-top: 2px solid $color-primary;
}

.price-table__row--last {
  border-bottom: 2px solid $color-gray;

  .price-table__option--name:first-child {
    border-bottom-left-radius: 3px;
  }

  .price-table__option:last-child {
    border-bottom-right-radius: 3px;
  }
}

.price-table__option {
  position: relative;
  width: 280px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid $color-gray;
  color: $color-primary;
  background-color: $color-white;
  white-space: nowrap;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 152px;
    height: 47px;

    font-size: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 233px;
    height: 62px;

    font-size: 18px;
  }
}

.price-table__option:last-child {
  border-right: 2px solid $color-gray;
}

.price-table__option--name {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 16px;
    border-left: 2px solid $color-gray;
  }

  @media (min-width: $desktop-width) {
    padding-left: 22px;
    padding-bottom: 10px;
  }
}

.price-table__option--name:first-child {
  border-top-left-radius: 3px;
}

.price-table__option::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 17px;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    right: 61px;
    top: 10px;
  }

  @media (min-width: $desktop-width) {
    right: 103px;
    top: 16px;
  }
}

.price-table__option--yes::before {
  width: 31px;
  height: 21px;
  background-image: url("../img/price-table/yes.svg");
}

.price-table__option--no::before {
  width: 27px;
  height: 27px;
  background-image: url("../img/price-table/no.svg");
}

.price-table__text {
  padding-left: 20px;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $color-primary;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
