.product-features {
  color: $color-primary;
}

.product-features__subtitle-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 320px;
  height: 250px;
  padding: 53px 20px 63px 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.product-features__subtitle {
  margin: 0;
  padding: 0;
}

.product-features__list {
  margin: 0;
  padding: 60px 20px 0 20px;
  list-style-type: none;

  background-color: $color-gray;
  text-align: center;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
  }
}

.product-features__item {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-features__title {
  margin-bottom: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.product-features__description {
  margin-bottom: 43px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    order: 3;
    }
}

.product-features__img {
  @media (min-width: $desktop-width) {
  order: 1;
  }
}

.product-features__img--1,
.product-features__img--2 {
  @media (max-width: 1199px) {
    display: none;
  }
}
