.product-features {
  color: $font-color-primary;
}

.product-features__subtitle-wrapper {
  margin: 0;
  padding: 46px 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.product-features__subtitle {
  margin: 0;
  padding: 0;
}

.product-features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  background-color: $color-gray;
  text-align: center;
}

.product-features__item {
  padding-bottom: 43px;
}

.product-features__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.product-features__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}
