.side-effect {
  @media (max-width: 659px) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 54px 20px 0 20px;
    display: flex;
    justify-content: flex-end;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    height: 430px;
    align-items: center;
    justify-content: center;
    background-color: $color-gray;
  }
}

.side-effect__wrapper {
  width: 300px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    width: 530px;

    font-size: 18px;
    line-height: 30px;
  }
}

.side-effect__title {
  @media (min-width: $tablet-width) {
    width: 170px;
    margin: 0 0 24px 0;

    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    font-size: 30px;
    line-height: 30px;
  }
}

.side-effect__description {
  color: $color-primary;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
  }
}

.side-effect__link {
  color: $color-accent;
}
