.slider-pagination__toggle {
  box-sizing: content-box;
  height: 6px;
  margin: 0 3px;
  border-radius: 50%;
  border: 3px solid transparent;
  background-color: #bec3c7;
  background-clip: padding-box;
}

.slider-pagination__toggle:hover {
  background-color: #7e868f;
}

.slider-pagination__toggle:active {
  background-color: #e9ebec;
}

.slider-pagination__toggle--current {
  border-color: $color-primary;
  background-color: transparent;
}
