.slogan {
  margin-top: 0;
  margin-bottom: 0;
  padding: 54px 0 60px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $color-primary;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
