.upload-photo__slogan {
  margin-top: 0;
  margin-bottom: 0;
  padding: 45px 0 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $color-primary;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 65px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.upload-photo__form {
  margin: 0;
  padding: 20px 0;
  background-color: $color-gray;

  display: grid;
  grid-template-columns: 280px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 57px 0 50px 20px;
    grid-template-columns: 300px 300px;
    gap: 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 940px;
    padding: 60px 60px 60px 80px;
    grid-template-columns: 300px 410px;
    gap: 90px;
  }
}

.upload-photo__editing {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
  }
}

.upload-photo__editing-controls {
  list-style-type: none;
  margin: 0 0 15px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.upload-photo__button-wrapper {
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    grid-column-start: 2;
  }

  @media (min-width: $desktop-width) {
    padding-top: 135px;
    display: flex;
    justify-content: space-between;
  }
}

.upload-photo__img {
  margin-bottom: 40px;
  width: 280px;
  height: 374px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
  }
}

.upload-photo__button {
  display: block;
  width: 280px;
  min-height: 55px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    font-size: 21px;
    margin-bottom: 0;
  }
}

.upload-photo__button--post {
  color: $color-accent;
  border: 3px solid $color-accent;
}

.upload-photo__button--post:hover {
  background-color: $color-accent;
  color: $color-white;
}

.upload-photo__button--post:active {
  color: rgba($color-white, 0.3);
}

.upload-photo__button--cancel {
  color: rgba($color-primary, 0.1);
  border: 3px solid rgba($color-primary, 0.1);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.upload-photo__button--cancel:hover {
  color: rgba($color-primary, 0.3);
  border: 3px solid rgba($color-primary, 0.3);
}

.upload-photo__button--cancel:active {
  color: rgba($color-white, 0.3);
  background-color: rgba($color-primary, 0.3);
  border: 3px solid rgba($color-primary, 0.3);
}
