.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: $font-color-primary;



  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

    li {
      padding: 25px;
      text-align: center;

      a {
        color: $font-color-secondary;
        text-decoration: none;
        cursor: pointer;
      }
    }
}
