$font-color-primary: #283645;
$font-color-secondary: #ffffff;
$font-color-accent: #d22856;



body {
  font-family: "Open Sans";

}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
