$color-primary: #283645;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #f2f2f2;
$color-accent: #d22856;
$color-dark-gray: #bfc3c7;

$tablet-width: 660px;
$desktop-width: 1040px;
$mobile-width-only: 659px;
