.price-table__category {
  padding: 25px 67px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  color: $font-color-secondary;
  background-color: $font-color-primary;
  text-transform: uppercase;


    p {
      padding: 0;
      margin: 15px 0 0 0;

      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
    }

}

.price-table__category--none {
  background-color: transparent;
}

.price-table__option {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $font-color-primary;
  background-color: $font-color-secondary;
  white-space: nowrap;
}

.price-table__option--yes {
  width: 31px;
  height: 21px;
  background-image: url("../img/price-table/yes.svg");
  background-color: $font-color-secondary;
  background-position: center;
  background-repeat: no-repeat;
}

.price-table__option--no {
  width: 27px;
  height: 27px;
  background-image: url("../img/price-table/no.svg");
  background-color: $font-color-secondary;
  background-position: center;
  background-repeat: no-repeat;
}
