.catalog {
  padding: 50px 20px;
}

.catalog__slogan,
.upload-photo__slogan {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $font-color-primary;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
